Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4,8,15,16,23,42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

my_list =[1,2,3,4,5,6,7,8,9,10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Data Frame in pandas is a two dimensional labeled data structure with columns if potentially different data types.It can be thought of as a table , similar to an Excel spreadsheet or SQL table . Each column in a DataFrame is essentially a pandas Series .

Consider a dataset containing information about employees, including their names, ages, and salaries. We can represent this dataset using a DataFrame in pandas. Each column represents a different attribute (name, age, salary), and each row represents a different employee.

In [4]:
import pandas as pd 
dataa ={
    'Name ': ['Alice', 'Bob' ,'Claire'],
    'Age' : [ 25, 30 , 27 ], 
    'Salary ':[50000, 60000, 55000]
}
df = pd.DataFrame (data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

- head() and tail(): These functions allow you to view the first few rows (head) or last few rows (tail) of the DataFrame.

In [7]:
print(df.head())
print(df.tail(3))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


- info(): Provides a concise summary of the DataFrame, including information about the data types, non-null values, and memory usage.

In [8]:
# Display DataFrame information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

- describe(): Generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, min, max, etc.

In [9]:
df.describe()

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In pandas, both Series and DataFrame are mutable in nature, meaning you can modify their values, add or remove columns/rows, etc.

Q 7.Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
import pandas as pd 
names = pd.Series(['Alice' , 'Bob' ,'Claire'])
ages = pd.Series ([25, 30 ,27])
genders=pd.series(['Female', 'Male','Female'])

df = pd.DataFrame({'Name' :names , 'Age': ages , 'gender':genders} )