Q 1. what is database? Differentiate between SQL and NoSQL databases.

A database is a sturctured collection of data organized for efficient retrieval , 
storage , and manipulation .It acts as a central repositry where data can be stored , retrived , updated , and managed by users and applications.
Databases are essential components of modern infornmation systems and are used in various domains such as business , finance , healthcare , education and more.
Databases can be classified into different types based on their data models , storage mechanisms ,and query languages.The types based on their models , storage mechanisms , and query languages . The two main categories of databases are SQL (relational)databases and NOSQL (non relational  databases).

Database is a structured collection of data for storage , reterieval and manipulation.
### SQL(Relational)Databses :
- Tabular data model with fixed schemas .
- Enforced schema .
- standardized query with SQL.
- scaled vertically ; complex to scale horizontally.
- ACID properties to ensure data integrity .
- USe SQL for structured data with complex relationships and transactions .

### NOSQl (Non-Relational)Databases :
- Flexible data models (documents , key-values , etc )
- schema -less or flexible schema.
- Various query languages ; less standarised .
- Designed for horizontal scalarity .
- May sacrifice some ACID properties for scalability and performance .
- USe NoSQL for unstructured or semi-structured data , massive scalability and flexible and models.

Q 2.What is DDL ? Explain why  CREATE , DROP , ALTER , TRUNCATE are used with an example.

DDL(Data Defination Language ):

DDL or Data Defination Language , is a subset of SQL (structured Query Language ) used to define , modify , and manage the  structure of database objects such as tables , indexes , and constraints .DDL statements are used to create , drop (delete), alter (modify) , and truncate (remove all data) database objects .

### CREATE :
- purpose : used to create new database objects such as tables ,indexes , views or procedures.
- Example :

CREATE TABLE employees {


    id INT PRIMARY KEY,
    
    name VARCHAR(50),
    
    age INT
    
};

### DROP:
- purpose : used to delete existing databases objects such as tables , indexes ,view , or procedure.

- EXAMPLE

DROP TABLE employees ;

### ALTER :
- purpose : Used to modify the structure of existing database objects such as tables .
 - Example:
 
 ALTER TABLE employees ADD COLUMN email VARCHAR(100);

### TRUNCATE:
- Purpose : Used to remove all rows from a table , effectively deleting all data while keeping the table structure intact .
- Example :

TRUNCATE TABLE employees ;

here , this statement removes all data from the 'employees' table , but the table structure remains unchanged .

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML , or Data Manipulation Language , is a subset of SQL (Structured Query Language ) used to manipulate data stored in the databases .DML statements are used to perform operations such as inserting , updating , deleting and retrieving data from databases tables.

### INSERT:
used to insert new rows of data into table.
- Example:

INSERT INTO employees (id , name , age) VALUES (1, 'John', 30);

here , the insert info statement is used to add a new record to the employees table with the vlaue or the 'id' , 'name ' and 'age' columns.

### UPDATE :
- used to modify existing data in a table .
- Example :

UPDATE employees SET age =31 WHERE id =1;

### DELETE :
- used to remove one or more rows from a table .
- Example :

DELETE FROM employees WHERE id =1;

Q4. What is DQL? Explain SELECT with an example.

DQL or Data Query language is a subset of SQL(structured query language ) used to retrieve data from database .DQL statements are primarily focused on querying data stored in tables to extract specific infornmation based on criteria .

### SELECT:
- Purpose: Used to retrieve data from one or more tables in a database.
- Example:

SELECT * FROM employees;

Q5.Explain primary key and Foriegn key.
### Primary key :
- A primary key is a column or a set of columns in a table that uniquely identifies each row or record in the table .
- It must have a unique value for each row and cannot contain NULL values .
- Each value of a primary key columns must be unique .
- This uniqueness constaints ensures that no two rows in the table can have the same primary key value .
- A primary key column cannot contain NULL values .This means every row in the table must have a value in the primary key columns.
- Example : In a table named 'students' the 'student_id ' column can be designated as the primary key because it uniquely identifies each student record in the table.

### Foriegn Key :

- A foriegn key is  column or a set of columns in table that establishes a link between data in two tables.
- It creates a relationship between the referencing table (child table ) and the referenced table (parent table ).
- A foriegn key constraint ensures referential integrity by enforcing the existence of a corresponding value in the refrenced table .
- It ensures that values in the foriegn key columns of the child table must match the values in the primary key columns of the parent table.
- Foriegn key can contain NULL values , indicating that the relationship is optional .
- if a key column allows NULL values , it means the corresponding record in the parent table may not exist.
- Example:

- In a table named orders, the customer_id column may serve as a foreign key referencing the customer_id column in the customers table. This ensures that each order is associated with a valid customer.

Q7.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 52.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

import mysql.connector 

connection = mysql.connector.connect(
    host = "your_host",
    user="your_username",
    password = ' your_password ',
    database= 'your_database'
)

cursor = connection.cursor()

cursor.execute("SELECT'*FROM your_table")

results = cursor.fetchall()
for row in results :
    print(row )
    
cursor.close()
connection.close()

### cursor:-
- The cursor method is used to create a cursor object.
- A cursor is like a pointer or an iterator that allows you to traverse through the rows of a result set returned by  a query .
- It enables you to execute sql quries and fetch results from the database.
### execute ():-
- The 'execute ()'method is used to execute SQL queries or statements .
- we can pass the SQL query as a parameter to the 'execute()'method
- we can execute various types of SQL statements such as SELECT, INSERT, UPDATE, DELETE, etc., using this method.

Q7. Give the order of execution of SQL clauses in an SQL query.

- FROM Clause: Specifies the table from which data will be retieved .

- WHERE Clause : Filters rows based on specified conditions.

- GROUP BY Clause: Groups rows that have the same values into summary rows.

- HAVING Clause: Filters groups based on specified conditions.

- SELECT Clause: Specifies the columns to be included in the result set.

- ORDER BY Clause: Sorts the result set based on specified columns.

- LIMIT/OFFSET Clause (Optional): Limits the number of rows returned by the query (and optionally, the starting point).